@page "/gifts/{personId}"
@* @attribute [Authorize] *@
@inject GiftRepository repo
@inject PersonRepository personRepo
@inject INotifier notifier
@using Hangfire

<PageTitle>Gifts</PageTitle>

<h1>Gifts for @personName</h1>

<p>Take some time to reflect on them. What is going on in their life right now? What gifts would they enjoy receiving?</p>

@if (gifts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Purchased?</th>
                <th>Date</th>
                <th>Link</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gift in gifts)
            {
                <tr>
                    <td>@gift.Name</td>
                    <td>@gift.IsPurchased</td>
                    <td>@gift.Date</td>
                    <td><a href="@gift.Link" target="_blank">@gift.Link</a></td>
                    <td>
                        @if (!gift.IsPurchased)
                        {
                            <button class="btn btn-link p-0" @onclick="() => MarkAsPurchasedAsync(gift.Id)">
                                Purchased
                            </button>
                        }
                    </td>
                    <td>
                        <button class="btn btn-link p-0" @onclick="() => DeleteAsync(gift.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post" @onsubmit="SubmitAsync" @formname="starship-plain-form">
    <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewGiftName" placeholder="Gift name" />
            <InputText @bind-Value="Link" placeholder="Link (url)"/>
            <InputText @bind-Value="GiftDate" placeholder="Date (MM/dd/YYYY)"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    [Parameter]
    public string PersonId { get; set; }

    private string personName;
    private Gift[]? gifts;

    [SupplyParameterFromForm]
    private string NewGiftName { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    private string Link { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    private string GiftDate { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        this.NewGiftName = string.Empty;
        this.Link = string.Empty;

        var person = await personRepo.GetPerson(Guid.Parse(PersonId));
        var giftIdeas = await repo.GetGiftIdeasForPerson(Guid.Parse(PersonId));
        
        this.personName = person.Name; 
        this.gifts = giftIdeas;
    }

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(NewGiftName))
        {
            throw new Exception("Invalid person data.");   
        }

        string email = "brandonchastain@gmail.com";
        if (AuthenticationState is not null)
        {
            var state = await AuthenticationState;
            email = state?.User?.Identity?.Name ?? email;
        }

        var gift = await repo.AddNewGift(NewGiftName, Guid.Parse(PersonId), Link, GiftDate);
        ScheduleNotification(email, gift);
        await this.OnInitializedAsync();
    }

    private async Task DeleteAsync(Guid id)
    {
        await repo.DeleteGift(id);
        await this.OnInitializedAsync();
    }

    private async Task MarkAsPurchasedAsync(Guid id)
    {
        await repo.SetIsPurchased(id);
        await this.OnInitializedAsync();
    }

    private void ScheduleNotification(string email, Gift gift)
    {
        DateTime date = gift.Date ?? DateTime.UtcNow;
        TimeSpan delay = (date - DateTime.UtcNow) - TimeSpan.FromDays(14);
        
        if (delay < TimeSpan.Zero)
        {
            delay = TimeSpan.Zero;
        }

        BackgroundJob.Schedule<INotifier>(
            (notifier) => notifier.Notify(email, gift),
            delay);
    }
}
